
//Primary button

.button_shop {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: $raleway;
  color: $smoky;
  font-size: $large;
  background: $white;
  padding: 10px 20px 10px 20px;
  border: solid $smoky 1px;
  text-decoration: none;
  position: relative;
  left: 100px;
  top: 10px;
  margin-top: 10px;

  &:hover {
    border: solid $silver 1px;
    color: $smoky;
    font-weight: $bold;
  }

  &:focus {
    border: solid $silver 1px;
    color: $silver;
    font-weight: $bold;
  }
}

//Hover State
