

.navbar-light{
  background-color: $white;

  .navbar-brand{
    background-color: $smoky ;
    color: $white;
    font-size: $xx-large;
    font-family: $old-standard;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.nav-link {
  color: $smoky;
  padding-right: 15px;
  padding-left: 15px;
}

input {
  background-color: $white;
  font-family: $raleway;
  font-size: $x-small;
  color: $smoky;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  top: 107px;
  left: 100px;
  position: absolute;
}
