
body {

  font-family: 'Old Standard TT', serif;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: $old-standard;
  font-size: $xxx-large;
  text-align: left;
  padding-left: 100px;
  padding-top: 70px;
}

h4 {
  text-align: left;
  font-family: $raleway;
  color: $silver;
  font-size: $large;
  width: 70%;
  padding-left: 100px;
  padding-top: 30px;
}
