//Esquema de colores
$white: #fff;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$smoky: #0C0910;
$gray: #646266;
$silver: #A6A5A8;


//Font Family

$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//Peso de fuentes

$regular: 400;
$bold: 700;

//Tamaños de fuentes

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
